
/*
    THIS CSS FILE HAS FONTS, FONT SIZES, AND FONT DECORATIONS
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.lato-thin {font-family: "Lato", serif;font-weight: 100;font-style: normal;}
.lato-light {font-family: "Lato", serif;font-weight: 300;font-style: normal;}
.lato-regular {font-family: "Lato", serif;font-weight: 400;font-style: normal;}
.lato-bold {font-family: "Lato", serif;font-weight: 700;font-style: normal;}
.lato-xbold {font-family: "Lato", serif;font-weight: 900;font-style: normal;}

.lato-thin-italic {font-family: "Lato", serif;font-weight: 100;font-style: italic;}
.lato-light-italic {font-family: "Lato", serif;font-weight: 300;font-style: italic;}
.lato-regular-italic {font-family: "Lato", serif;font-weight: 400;font-style: italic;}
.lato-bold-italic {font-family: "Lato", serif;font-weight: 700;font-style: italic;}
.lato-xbold-italic {font-family: "Lato", serif;font-weight: 900;font-style: italic;}



@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.montserrat-thin {font-family: "Montserrat", serif;font-weight: 100;font-style: normal;font-optical-sizing: auto;}
.montserrat-light {font-family: "Montserrat", serif;font-weight: 300;font-style: normal;font-optical-sizing: auto;}
.montserrat-regular {font-family: "Montserrat", serif;font-weight: 400;font-style: normal;font-optical-sizing: auto;}
.montserrat-bold {font-family: "Montserrat", serif;font-weight: 700;font-style: normal;font-optical-sizing: auto;}
.montserrat-xbold {font-family: "Montserrat", serif;font-weight: 900;font-style: normal;font-optical-sizing: auto;}

.montserrat-thin-italic {font-family: "Montserrat", serif;font-weight: 100;font-style: italic;font-optical-sizing: auto;}
.montserrat-light-italic {font-family: "Montserrat", serif;font-weight: 300;font-style: italic;font-optical-sizing: auto;}
.montserrat-regular-italic {font-family: "Montserrat", serif;font-weight: 400;font-style: italic;font-optical-sizing: auto;}
.montserrat-bold-italic {font-family: "Montserrat", serif;font-weight: 700;font-style: italic;font-optical-sizing: auto;}
.montserrat-xbold-italic {font-family: "Montserrat", serif;font-weight: 900;font-style: italic;font-optical-sizing: auto;}

.text-xs{font-size: 0.75rem; line-height: calc(1 / 0.75);}
.text-sm{font-size:0.875rem; line-height: calc(1.25 / 0.875);}
.text-lg{font-size: 1.125rem; line-height: calc(1.75 / 1.125);}
.text-xl{font-size:  1.25rem; line-height: calc(1.75 / 1.25);}
.text-5xl{font-size: 3rem; line-height: 1;}


