@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'sans serif', 'Raleway';
}

body {
	/*display: flex;
	flex-direction: column;*/
	padding-bottom: 40px;
	background-color: #F6F5F1;
	padding-top: 90px;
	
}
/* ************************************************************************************************************** */

header{
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 1px solid #808080;
	background-color: white;
	height: 90px;  /* same as body top padding to make header flush with page */
	
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	
}

header a{
	text-decoration: none;
	color: #808080;
	font-size: 80%;
}

header a:hover{
	cursor: pointer;
	text-decoration: underline;
}

#nav{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	
	width: 100%;
}

/*********************************************************************************/

page{
	display: flex;
	flex-direction: row;
	width: 100%;
	
	background-color: #F6F5F1;
	
}

#left-div {
	width: 15%;
}

#middle-div{
	width: 70%;
	border-left: 1px solid #808080;
	border-right: 1px solid #808080;
	background-color: white;
	/*border-left: 1px solid #808080;
	border-right: 1px solid #808080;*/
}


#right-div{
	width: 15%;
}

.middle-sub-div{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 2%;
	
}
#banner1{
	width: 100%;
	display: block;
	padding: 0;
	margin: 0;
}
#banner-div{
}

.pic{
	width: 50%;
}

.text{
	width: 40%;
	height: auto;
	padding-left: 150px;
	padding-right: 150px;
	padding: 50px;
}

.text h1{
	margin-bottom: 20px;
	font-weight: 100;
}

.text p{
	line-height: 30px;
}

.pictures{
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
}


/*********************************************************************************/
footer {
    /*background-color: #ede1d1;*/
    background-color: white;
    width: 100%;
    height: 40px;
    border-top: 1px solid #808080;
    position: fixed;
    bottom:0;
}

footer p {
    color: #808080;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
    font-size: 0.75em;
}

footer a {
    text-decoration: none;
    color: #808080;
}

footer a:hover {
    text-decoration: underline;
}

#footer-root-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    /*background-color: #ede1d1;*/
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}
/*********************************************************************************/


/* ------------------------------------------------------------------------------------ */

@media(max-width: 1700px){
  /* no change */
  page{
   /*border: 2px solid green;*/
  }
  }
  
  
  /* ------------------------------------------------------------------------------------ */
  
  @media(max-width: 1600px){
  
    /* no change */
    page{
    	/*border: 2px solid red;*/
    }
 
  }
  
  /* ------------------------------------------------------------------------------------ */
  
  @media(max-width: 1500px){
  
    /* no change */
    page{
     /*border: 2px solid orange;*/
    }
    
    .text h1{
		font-size: 20px;
	}
	
	.text p{
		font-size: 13px;
	}
   

  }
  
  /* ------------------------------------------------------------------------------------ */
  
  @media(max-width: 1400px){
  
    /* no change */
    page{
     /*border: 2px solid purple;*/
    }
  }
  
  /* ------------------------------------------------------------------------------------ */
  
  @media(max-width: 1300px){
  
    /* no change */
    page{
    /*border: 2px solid blue;*/
    }
   
  }
  
  /* ------------------------------------------------------------------------------------ */
  
  @media(max-width: 1200px){
  
    /* no change */
    page{
    /*border: 2px solid pink;*/
    }
  	#left-div {
	width: 10%;
	}

	#middle-div{
		width: 80%;
	}


	#right-div{
		width: 10%;
	}
	
	.text{
	padding-left: 100px;
	padding-right: 100px;
	padding: 50px;
	}
	
	.middle-sub-div{
		margin-bottom: 1%;
	
	}
  	
  }
  
  /* ------------------------------------------------------------------------------------ */
  
  @media(max-width: 1100px){
  
    /* no change */
    page{
    /*border: 2px solid yellow;*/
    }
    
    #left-div {
	width: 5%;
	}

	#middle-div{
		width: 90%;
	}


	#right-div{
		width: 5%;
	}
  }
  
  /* ------------------------------------------------------------------------------------ */
  
  @media(max-width: 1000px){
  
    page{
    /*border: 2px solid green;*/
    }
   
  }
  
  /* ------------------------------------------------------------------------------------ */
  
  @media(max-width: 900px){
  
    page{
     /*border: 2px solid red;*/
    }
    
    .middle-sub-div{
	width: 100%;
	display: flex;
	flex-direction: column;
	
	margin-bottom: 50px;
	}
	
	.text{
		width: 90%;
	}
	
	.pic{
		width: 90%;
	}
    
    .nav a{
      font-size: 15px;
    }

    .nav{
      margin-bottom: 20px;
    }

    #nav{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      padding: 30px;
      
  }
  body{
	  padding-top: 300px;
  }
  header{
	  height: 300px;
  }

  }
  
  /* ------------------------------------------------------------------------------------ */
  
  @media(max-width: 800px){
  
    page{
     /*border: 2px solid orange;*/
    }
  }
  
  /* ------------------------------------------------------------------------------------ */
  
  @media(max-width: 700px){
  
    page{
      /*border: 2px solid purple;*/
    }

  }
  
  /* ------------------------------------------------------------------------------------ */
  
  @media(max-width: 600px){
  
    page{
     /*border: 2px solid blue;*/
    }
  }
  
  /* ------------------------------------------------------------------------------------ */
  
  @media(max-width: 500px){
  
    page{
      /*border: 2px solid pink;*/
    }
 
  }
  
  /* ------------------------------------------------------------------------------------ */
  
  @media(max-width: 400px){
  
    page{
      /*border: 2px solid yellow;*/
    }
  
  }